<h1 class="page-heading">Run Converter</h1>

<div class="flex-grid">
	<div class="flex-grid__item">
		<div class="section pace-section" data-unit="km">
			<h2 class="pace-section__heading">Metric</h2>
			<div class="mins-secs">
				<span class="mins-secs__input">{{paceKmMinsStr}}</span>
				<span class="mins-secs__divider">:</span>
				<span class="mins-secs__input">{{paceKmSecsStr}}</span>
				<span class="mins-secs__units">min / km</span>
			</div>
		</div>
	</div>
	<div class="flex-grid__item">
		<div class="section pace-section" data-unit="mi">
			<h2 class="pace-section__heading">Imperial</h2>
			<div class="mins-secs">
				<span class="mins-secs__input">{{paceMiMinsStr}}</span>
				<span class="mins-secs__divider">:</span>
				<span class="mins-secs__input">{{paceMiSecsStr}}</span>
				<span class="mins-secs__units">min / mile</span>
			</div>
		</div>
	</div>
</div>

<div class="section">

	<table class="time-table">
		<tr class="time-table__row">
			<td class="time-table__cell time-table__cell--distance">5k</td>
			<td class="time-table__cell time-table__cell--time">{{time5k}}</td>
		</tr>
		<tr class="time-table__row">
			<td class="time-table__cell time-table__cell--distance">10k</td>
			<td class="time-table__cell time-table__cell--time">{{time10k}}</td>
		</tr>
		<tr class="time-table__row">
			<td class="time-table__cell time-table__cell--distance">Half marathon</td>
			<td class="time-table__cell time-table__cell--time">{{timeHalfMarathon}}</td>
		</tr>
		<tr class="time-table__row">
			<td class="time-table__cell time-table__cell--distance">Marathon</td>
			<td class="time-table__cell time-table__cell--time">{{timeMarathon}}</td>
		</tr>
	</table>

</div>